*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: none;
      grid-template-columns: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  background: linear-gradient(-15deg, #ea9652 57%, #f1b74c 85%);
  font-family: "Lato", sans-serif;
}

body p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

body:after {
  content: "";
  position: absolute;
  border-radius: 70% 40% 0% 0%;
  width: 50%;
  height: 400px;
  background: linear-gradient(-15deg, #4b55af 27%, #5261ea 70%);
  left: -80px;
  bottom: 0;
}

body:before {
  content: "";
  position: absolute;
  border-radius: 90% 0% 0% 0%;
  width: 73.6%;
  height: 700px;
  background: linear-gradient(-15deg, #4b55af 37%, #5261ea 70%);
  left: 430px;
  bottom: 0;
}

.container {
  width: 70%;
  height: 98vh;
  position: relative;
  z-index: 7;
}

.main__view {
  width: 430px;
  height: 88vh;
  border: none;
  position: absolute;
  top: 25px;
  right: 50px;
}

.main__view .main__header {
  border: none;
  background-color: #6473f6;
  width: 100%;
  height: 12vh;
  position: relative;
}

.main__view .main__header p {
  color: white;
  margin: auto;
}

.main__view .main__header p :nth-child(1) {
  margin-left: 295px;
}

.main__view .main__header p i {
  padding-left: 5px;
}

.main__view .main__header i {
  color: white;
  font-size: 15px;
}

.main__view .main__header .main__info p {
  font-size: 15px;
  font-weight: 100;
  position: absolute;
  top: 20px;
  left: 40px;
}

.main__view .main__header .main__nav p {
  position: absolute;
  bottom: 10px;
  left: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

.main__view .main__header .main__nav i {
  margin-left: 360px;
  font-size: 25px;
}

.main__content {
  border: none;
  background-color: white;
  width: 100%;
  height: 68.8vh;
  position: relative;
  overflow: auto;
}

.main__content i {
  position: absolute;
  top: 30px;
  left: 45px;
  color: #7a797c;
}

.main__content .main__content__user {
  color: black;
  width: 96%;
  padding: 25px 0;
  margin: 0 10px;
  border-bottom: 1px solid #eceaf1;
  position: relative;
}

.main__content .main__content__user .counter {
  width: 22px;
  height: 22px;
  position: absolute;
  border: 2px solid white;
  background-color: orange;
  text-align: center;
  color: white;
  border-radius: 20px;
  left: 47px;
  top: 25px;
  z-index: 1;
  box-shadow: 1px 1px 2px grey;
}

.main__content .main__content__user .counter span {
  position: absolute;
  top: 2px;
  left: 3.5px;
  font-size: 13px;
  color: white;
}

.main__content .main__content__user .group__counter {
  width: 15px;
  height: 15px;
  position: absolute;
  border: 2px solid white;
  background-color: orange;
  text-align: center;
  color: white;
  border-radius: 20px;
  left: 50px;
  top: 25px;
  z-index: 7;
  box-shadow: 1px 1px 2px grey;
}

.main__content .main__content__user .group__counter span {
  position: absolute;
  top: 2px;
  left: 3.5px;
  font-size: 13px;
  color: white;
}

.main__content .main__content__user .image img {
  position: absolute;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50px;
  bottom: 20px;
  left: 10px;
}

.main__content .main__content__user p {
  padding-left: 85px;
  margin: 0;
  font-size: 22px;
  text-align: left;
}

.main__content .main__content__user p:nth-of-type(even) {
  font-size: 16px;
  color: #abacba;
  padding-top: 5px;
  text-align: left;
}

.main__content .main__content__user span {
  position: absolute;
  font-size: 15px;
  right: 3px;
  top: 30px;
  color: #abacba;
}

.main__content input {
  color: #abacba;
  opacity: 0.5;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 15px 0 15px 50px;
  border: none;
  background-color: #f8f7fc;
  border-radius: 25px;
  margin: 15px 10px 5px 25px;
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.main__footer {
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: #fdfbff;
  width: 100%;
  height: 12vh;
  position: relative;
  box-shadow: 0px 1px 5px grey;
}

.main__footer .bottom__bar {
  position: absolute;
  bottom: 7px;
  left: 33%;
  width: 150px;
  height: 6px;
  background-color: black;
  border-radius: 10px;
}

.main__footer i {
  font-size: 30px;
}

.main__footer p {
  font-size: 15px;
  margin-top: 5px;
}

.main__footer button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  width: 130px;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: #abacba;
  opacity: 0.4;
  height: 70px;
}

.main__footer button:hover {
  color: #6473f6;
  opacity: 1;
}

.message__view {
  width: 430px;
  height: 88vh;
  border: none;
  position: absolute;
  top: 15px;
  left: 50px;
}

.message__view .message__header {
  border: none;
  background-color: #fdfbff;
  width: 100%;
  height: 15vh;
  position: relative;
}

.message__view .message__header p {
  color: black;
  margin: auto;
}

.message__view .message__header p :nth-child(1) {
  margin-left: 290px;
}

.message__view .message__header p i {
  padding-left: 5px;
}

.message__view .message__header i {
  color: black;
  font-size: 15px;
}

.message__view .message__info p {
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 50px;
}

.message__view .message__nav .main-carousel {
  height: 57px;
  width: 430px;
  margin-top: 12px;
}

.message__view .message__nav .main-carousel .carousel-cell {
  width: 44px;
  height: 55px;
  font-size: 30px;
  text-align: center;
}

.message__view .message__nav .main-carousel .carousel-cell img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1px;
  top: 6px;
  border-radius: 50px;
}

.message__view .message__nav .main-carousel .carousel-cell img:hover {
  transform: scale(2, 2);
  transform-origin: 50% 0%;
}

.message__view .message__nav .main-carousel .carousel-cell button {
  cursor: pointer;
}

.message__view .message__nav p {
  position: absolute;
  bottom: 63px;
  left: 120px;
  font-size: 25px;
}

.message__view .message__nav i {
  margin-top: 5px;
  font-size: 17px;
}

.message__view .message__nav .btn__back {
  border: none;
  background-color: inherit;
  margin-top: 50px;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}

.message__view .message__nav .btn__sets {
  border: none;
  background-color: inherit;
  margin-left: 360px;
  outline: none;
  cursor: pointer;
}

.message__content {
  border: none;
  background-color: #f8f7fc;
  width: 100%;
  height: 68.8vh;
  position: relative;
  overflow: auto;
  padding: 30px 0;
}

.message__content .message__one {
  width: 100%;
  height: 33%;
  position: relative;
}

.message__content .message__one .user__one {
  background-color: #6473f6;
  color: white;
  top: 10px;
  height: auto;
  width: auto;
  text-align: left;
  left: 80px;
  position: absolute;
  border-radius: 0 50px 50px 40px;
  padding: 10px 20px;
}

.message__content .message__one .user__one img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  left: -85px;
}

.message__content .message__one .user__one p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
}

.message__content .message__one .sender__one {
  background-color: white;
  color: #abacba;
  top: 95px;
  height: auto;
  width: auto;
  text-align: right;
  position: absolute;
  right: 80px;
  border-radius: 50px 0 40px 50px;
  padding: 10px 20px;
}

.message__content .message__one .sender__one img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  right: -85px;
}

.message__content .message__one .sender__one p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
}

.message__content .message__one .time {
  font-weight: 200;
  position: absolute;
  bottom: 0;
  left: 180px;
  font-size: 15px;
  color: #c7c8d1;
}

.message__content .message__two {
  width: 100%;
  height: 33%;
  position: relative;
}

.message__content .message__two .user__two {
  background-color: #6473f6;
  color: white;
  top: 121px;
  height: auto;
  width: auto;
  max-width: 300px;
  text-align: left;
  left: 80px;
  position: absolute;
  border-radius: 0 50px 50px 40px;
  padding: 10px 20px;
  margin-right: 10px;
}

.message__content .message__two .user__two img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  left: -85px;
}

.message__content .message__two .user__two p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
}

.message__content .message__two .sender__two {
  background-color: white;
  color: #abacba;
  top: 35px;
  height: auto;
  width: auto;
  text-align: right;
  position: absolute;
  right: 80px;
  border-radius: 50px 0 40px 50px;
  padding: 10px 20px;
}

.message__content .message__two .sender__two img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  right: -85px;
}

.message__content .message__two .sender__two p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
}

.message__content .message__three {
  width: 100%;
  height: 47%;
  position: relative;
}

.message__content .message__three .user_three {
  background-color: #6473f6;
  color: white;
  top: 35px;
  height: auto;
  width: auto;
  text-align: left;
  left: 80px;
  position: absolute;
  border-radius: 0 30px 30px 30px;
}

.message__content .message__three .user_three img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  left: -85px;
}

.message__content .message__three .user_three p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 0;
  width: 220px;
  height: 160px;
  background: url(/images/image.png);
  background-size: cover;
  border-radius: 0 30px 30px 30px;
}

.message__content .message__three .sender__three {
  background-color: white;
  color: #abacba;
  top: 230px;
  height: auto;
  width: auto;
  text-align: right;
  position: absolute;
  right: 80px;
  border-radius: 50px 0 40px 50px;
  padding: 10px 20px;
}

.message__content .message__three .sender__three .group__counter {
  width: 6px;
  height: 7px;
  position: absolute;
  background-color: orange;
  text-align: center;
  color: white;
  border-radius: 20px;
  left: -20px;
  top: 20px;
  z-index: 7;
}

.message__content .message__three .sender__three img {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 20px;
  top: -5px;
  right: -85px;
}

.message__content .message__three .sender__three p {
  font-weight: 200;
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
  width: 190px;
  text-align: left;
}

.message__content .message__three .sender__three p i {
  color: #abacba;
  padding-left: 8px;
}

.message__content .message__three .sender__three p i:nth-child(2) {
  color: #6473f6;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transform: rotateY(180deg);
}

::-webkit-scrollbar {
  width: 0px;
}

.message__footer {
  border: none;
  background-color: #fdfbff;
  width: 100%;
  height: 12vh;
  position: relative;
  box-shadow: 0px 1px 5px grey;
}

.message__footer .bottom__bar {
  position: absolute;
  bottom: 7px;
  left: 33%;
  width: 150px;
  height: 6px;
  background-color: black;
  border-radius: 10px;
}

.message__footer i {
  font-size: 35px;
}

.message__footer input {
  position: absolute;
  color: #abacba;
  opacity: 0.5;
  width: 70%;
  padding: 15px 0 15px 15px;
  border: none;
  background-color: #f8f7fc;
  border-radius: 25px;
  margin: 15px 10px 5px 45px;
  outline: none;
}

.message__footer .btn__mic {
  position: absolute;
  top: 21px;
  left: -5px;
  border: none;
  background-color: inherit;
  margin-left: 10px;
  outline: none;
  color: #6473f6;
  cursor: pointer;
}

.message__footer .btn__emojis {
  position: absolute;
  top: 21px;
  right: 40px;
  border: none;
  background-color: inherit;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  color: #6473f6;
}

.message__footer .btn__others {
  position: absolute;
  top: 21px;
  right: 0px;
  border: none;
  background-color: inherit;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  color: #6473f6;
}
/*# sourceMappingURL=style.css.map */