.main__view {
    width: 430px;
    height: 88vh;
    border: none;
    position: absolute;
    top: 25px;
    right: 50px;

    .main__header {
        border: none;
        background-color: $color-secondary;
        width: 100%;
        height: 12vh;
        position: relative;

        p {
            color: $color-main;
            margin: auto;

            :nth-child(1) {
                margin-left: 295px;
            }

            i {
                padding-left: 5px;
            }
        }

        i {
            color: $color-main;
            font-size: 15px;
        }

        .main__info {
            p {
                font-size: 15px;
                font-weight: 100;
                position: absolute;
                top: 20px;
                left: 40px;
            }
        }

        .main__nav {
            p {
                position: absolute;
                bottom: 10px;
                left: 20px;
                margin-bottom: 10px;
                font-size: 25px;
            }

            i {
                margin-left: 360px;
                font-size: 25px;
            }
        }
    }
}

.main__content {
    border: none;
    background-color: $color-main;
    width: 100%;
    height: 68.8vh;
    position: relative;
    overflow: auto;

    i {
        position: absolute;
        top: 30px;
        left: 45px;
        color: rgb(122, 121, 124);
    }

    .main__content__user {
        color: $color-basic;
        width: 96%;
        padding: 25px 0;
        margin: 0 10px;
        border-bottom: 1px solid $color-border;
        position: relative;

        .counter {
            width: 22px;
            height: 22px;
            position: absolute;
            border: 2px solid $color-main;
            background-color: $color-counter;
            text-align: center;
            color: $color-main;
            border-radius: 20px;
            left: 47px;
            top: 25px;
            z-index: 1;
            box-shadow: 1px 1px 2px grey;

            span {
                position: absolute;
                top: 2px;
                left: 3.5px;
                font-size: 13px;
                color: $color-main;
            }
        }

        .group__counter {
            width: 15px;
            height: 15px;
            position: absolute;
            border: 2px solid $color-main;
            background-color: $color-counter;
            text-align: center;
            color: $color-main;
            border-radius: 20px;
            left: 50px;
            top: 25px;
            z-index: 7;
            box-shadow: 1px 1px 2px grey;

            span {
                position: absolute;
                top: 2px;
                left: 3.5px;
                font-size: 13px;
                color: $color-main;
            }
        }

        .image {
            img {
                position: absolute;
                width: 55px;
                height: 55px;
                object-fit: cover;
                border-radius: 50px;
                bottom: 20px;
                left: 10px;
            }
        }

        p {
            padding-left: 85px;
            margin: 0;
            font-size: 22px;
            text-align: left;
        }

        p:nth-of-type(even) {
            font-size: 16px;
            color: $color-primary;
            padding-top: 5px;
            text-align: left;
        }

        span {
            position: absolute;
            font-size: 15px;
            right: 3px;
            top: 30px;
            color: $color-primary;
        }
    }

    input {
        color: $color-primary;
        opacity: 0.5;
        display: flex;
        width: 90%;
        padding: 15px 0 15px 50px;
        border: none;
        background-color: rgb(248, 247, 252);
        border-radius: 25px;
        margin: 15px 10px 5px 25px;
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.main__footer {
    display: flex;
    border: none;
    background-color: $color-background;
    width: 100%;
    height: 12vh;
    position: relative;
    box-shadow: 0px 1px 5px grey;

    .bottom__bar {
        position: absolute;
        bottom: 7px;
        left: 33%;
        width: 150px;
        height: 6px;
        background-color: $color-basic;
        border-radius: 10px;
    }

    i {
        font-size: 30px;
    }

    p {
        font-size: 15px;
        margin-top: 5px;
    }

    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        width: 130px;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        color: $color-primary;
        opacity: 0.4;
        height: 70px;

        &:hover {
            color: $color-secondary;
            opacity: 1;
        }
    }
}