.message__view {
    width: 430px;
    height: 88vh;
    border: none;
    position: absolute;
    top: 15px;
    left: 50px;

    .message__header {
        border: none;
        background-color: $color-background;
        width: 100%;
        height: 15vh;
        position: relative;

        p {
            color: $color-basic;
            margin: auto;

            :nth-child(1) {
                margin-left: 290px;
            }

            i {
                padding-left: 5px;
            }
        }

        i {
            color: $color-basic;
            font-size: 15px;
        }
    }

    .message__info {
        p {
            font-size: 18px;
            position: absolute;
            top: 15px;
            left: 50px;
        }
    }

    .message__nav {
        .main-carousel {
            height: 57px;
            width: 430px;
            margin-top: 12px;

            .carousel-cell {
                width: 44px;
                height: 55px;
                font-size: 30px;
                text-align: center;

                img {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 1px;
                    top: 6px;
                    border-radius: 50px;

                    &:hover {
                        transform: scale(2, 2);
                        transform-origin: 50% 0%;
                    }
                }

                button {
                    cursor: pointer;
                }
            }
        }

        p {
            position: absolute;
            bottom: 63px;
            left: 120px;
            font-size: 25px;
        }

        i {
            margin-top: 5px;
            font-size: 17px;
        }

        .btn__back {
            border: none;
            background-color: inherit;
            margin-top: 50px;
            margin-left: 10px;
            outline: none;
            cursor: pointer;
        }

        .btn__sets {
            border: none;
            background-color: inherit;
            margin-left: 360px;
            outline: none;
            cursor: pointer;
        }
    }
}

.message__content {
    border: none;
    background-color: #f8f7fc;
    width: 100%;
    height: 68.8vh;
    position: relative;
    overflow: auto;
    padding: 30px 0;

    .message__one {
        width: 100%;
        height: 33%;
        position: relative;

        .user__one {
            background-color: $color-secondary;
            color: $color-main;
            top: 10px;
            height: auto;
            width: auto;
            text-align: left;
            left: 80px;
            position: absolute;
            border-radius: 0 50px 50px 40px;
            padding: 10px 20px;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                left: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 5px 0;
            }
        }

        .sender__one {
            background-color: $color-main;
            color: $color-primary;
            top: 95px;
            height: auto;
            width: auto;
            text-align: right;
            position: absolute;
            right: 80px;
            border-radius: 50px 0 40px 50px;
            padding: 10px 20px;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                right: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 5px 0;
            }
        }

        .time {
            font-weight: 200;
            position: absolute;
            bottom: 0;
            left: 180px;
            font-size: 15px;
            color: rgb(199, 200, 209);
        }
    }

    .message__two {
        width: 100%;
        height: 33%;
        position: relative;

        .user__two {
            background-color: $color-secondary;
            color: $color-main;
            top: 121px;
            height: auto;
            width: auto;
            max-width: 300px;
            text-align: left;
            left: 80px;
            position: absolute;
            border-radius: 0 50px 50px 40px;
            padding: 10px 20px;
            margin-right: 10px;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                left: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 5px 0;
            }
        }

        .sender__two {
            background-color: $color-main;
            color: $color-primary;
            top: 35px;
            height: auto;
            width: auto;
            text-align: right;
            position: absolute;
            right: 80px;
            border-radius: 50px 0 40px 50px;
            padding: 10px 20px;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                right: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 5px 0;
            }
        }
    }

    .message__three {
        width: 100%;
        height: 47%;
        position: relative;

        .user_three {
            background-color: $color-secondary;
            color: $color-main;
            top: 35px;
            height: auto;
            width: auto;
            text-align: left;
            left: 80px;
            position: absolute;
            border-radius: 0 30px 30px 30px;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                left: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 0;
                width: 220px;
                height: 160px;
                background: url(/images/image.png);
                background-size: cover;
                border-radius: 0 30px 30px 30px;
            }
        }

        .sender__three {
            background-color: $color-main;
            color: $color-primary;
            top: 230px;
            height: auto;
            width: auto;
            text-align: right;
            position: absolute;
            right: 80px;
            border-radius: 50px 0 40px 50px;
            padding: 10px 20px;

            .group__counter {
                width: 6px;
                height: 7px;
                position: absolute;
                background-color: $color-counter;
                text-align: center;
                color: $color-main;
                border-radius: 20px;
                left: -20px;
                top: 20px;
                z-index: 7;
            }

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                margin: 0 20px;
                top: -5px;
                right: -85px;
            }

            p {
                font-weight: 200;
                font-size: 17px;
                margin: 0;
                padding: 5px 0;
                width: 190px;
                text-align: left;

                i {
                    color: $color-primary;
                    padding-left: 8px;

                    &:nth-child(2) {
                        color: $color-secondary;
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.message__footer {
    border: none;
    background-color: $color-background;
    width: 100%;
    height: 12vh;
    position: relative;
    box-shadow: 0px 1px 5px grey;

    .bottom__bar {
        position: absolute;
        bottom: 7px;
        left: 33%;
        width: 150px;
        height: 6px;
        background-color: $color-basic;
        border-radius: 10px;
    }

    i {
        font-size: 35px;
    }

    input {
        position: absolute;
        color: $color-primary;
        opacity: 0.5;
        width: 70%;
        padding: 15px 0 15px 15px;
        border: none;
        background-color: rgb(248, 247, 252);
        border-radius: 25px;
        margin: 15px 10px 5px 45px;
        outline: none;
    }

    .btn__mic {
        position: absolute;
        top: 21px;
        left: -5px;
        border: none;
        background-color: inherit;
        margin-left: 10px;
        outline: none;
        color: $color-secondary;
        cursor: pointer;
    }

    .btn__emojis {
        position: absolute;
        top: 21px;
        right: 40px;
        border: none;
        background-color: inherit;
        margin-left: 10px;
        outline: none;
        cursor: pointer;
        color: $color-secondary;
    }

    .btn__others {
        position: absolute;
        top: 21px;
        right: 0px;
        border: none;
        background-color: inherit;
        margin-left: 10px;
        outline: none;
        cursor: pointer;
        color: $color-secondary;
    }
}