$color-primary: rgb(171, 172, 186);
$color-secondary: rgb(100, 115, 246);
$color-main: rgb(255, 255, 255);
$color-border: rgb(236, 234, 241);
$color-background: rgb(253, 251, 255);
$color-basic: rgb(0, 0, 0);
$color-counter: rgb(255, 165, 0);

$font-text: "Lato", sans-serif;

$base-size: 12px;
