$color-dark: rgb(171, 172, 186);
$color-light: rgb(100, 115, 246);
$color-main: rgb(255, 255, 255);
$color-border: rgb(236, 234, 241);
$color-footer: rgb(253, 251, 255);
$color-success: black;

$font-header: "Oswald", sans-serif;
$font-text: "Lato", sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all 0.3s;
$radius: 4px;

$base-size: 12px;
